
<div class="photo-card">
  <a href="{{largeImageURL}}" class="photo-item">
      <img class="photo" src="{{webformatURL}}" alt="{{tags}}" loading="lazy" style="width: 320px; height: 180 px" />
  </a>
  <div class="info">
    <p class="info-item">
      <b>Likes</b>
      <span>{{likes}}</span>
    </p>
    <p class="info-item">
      <b>Views</b>
      <span>{{views}}</span>
    </p>
    <p class="info-item">
      <b>Comments</b>
      <span>{{comments}}</span>
    </p>
    <p class="info-item">
      <b>downloads</b>
      <span>{{downloads}}</span>
    </p>
  </div>
</div>
